<header class="header header-descktop">
    <nav class="nav">
        <ul class="nav top_nav">
            <li class="item_nav"><a href="#">О компании<span><img src="../assets/images/icons/drop.svg" alt="drop"></span></a></li>
            <li class="item_nav"><a href="#">Потребителям</a></li>
            <li class="item_nav"><a href="#">Магазины</a></li>
            <li class="item_nav"><a href="#">Контакты</a></li>
            <li class="item_nav"><a href="mailto:info@info.com"><span><img src="../assets/images/icons/mail.svg" alt="mail"></span>info@info.com </a></li>
            <li class="item_nav"><a href="tel:+375296461616"><span><img src="../assets/images/icons/mts.svg" alt="mts"></span>
                <span><img src="../assets/images/icons/a1.svg" alt="a1"></span>+375 (29) 646-16-16</a></li>
            <li class="item_nav"><a href="#"><span><img src="../assets/images/icons/call.svg" alt="call"></span>Обратный звонок</a></li>
            <li class="item_nav"><a href="#"><span><img src="../assets/images/icons/logout.svg" alt="logout"></span>Войти</a></li>
        </ul>
        <div class="nav_bottom">
            <div class="logo"><img src="../assets/images/logo.svg" alt="logo"></div>
            <p class="some_text">Разработка как спорт. Важен только результат.</p>
            <form>
                <input class="form-control me-2" type="search" placeholder="Введите текст для поиска" aria-label="Search">
                <span><img src="../assets/images/icons/X.svg" alt="clear"></span>
            </form>
            <div class="favorites_block">
                <p><span><img src="../assets/images/icons/heart.svg" alt="heart"></span>Избраное</p>
            </div>
            <div class="favorites_block">
                <p><span class="total_price_basked"><img src="../assets/images/icons/Union.svg" alt="union"></span>20 888.50 р.</p>
            </div>
        </div>
    </nav>
</header>
